html,
body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

:root {
	--color-aquatic: #00b8ce;
	--color-beast: #ffb812;
	--color-bug: #ff5341;
	--color-bird: #ff8bbd;
	--color-plant: #6cc000;
	--color-reptile: #dc8be4;
	--color-hidden-1: #c6bdd4;
	--color-hidden-2: #beceff;
	--color-hidden-3: #129092;
	--color-axie: #8d65ff;
	--color-savannah: #f99e2e;
	--color-forest: #6cc000;
	--color-arctic: #dbf0ef;
	--color-mystic: #6fccd4;
	--color-genesis: #3e7292;
	--color-rarity-rare: #09b99b;
	--color-rariry-epic: #ffa22a;
	--color-rarity-mystic: #ae2aff;
	--color-text-arctic: #55586a;
	--color-white: #ffffff;
	--color-gray-1: #a1a6b6;
	--color-gray-2: #6b7185;
	--color-gray-3: #3a3f50;
	--color-gray-4: #282b39;
	--color-gray-5: #242735;
	--color-gray-6: #11131b;
	--color-black: #000000;
	--color-primary-1: #99c1f8;
	--color-primary-2: #6ea7f5;
	--color-primary-3: #3082f2;
	--color-primary-4: #046cfc;
	--color-primary-5: #004eba;
	--color-primary-6: #1c2f50;
	--color-success-1: #b8ecd5;
	--color-success-2: #8ae0ba;
	--color-success-3: #58d49d;
	--color-success-4: #10c274;
	--color-success-5: #048a4f;
	--color-warning-1: #fce2ac;
	--color-warning-2: #fad076;
	--color-warning-3: #f8bc3b;
	--color-warning-4: #f7ac0a;
	--color-warning-5: #bd850f;
	--color-danger-1: #feb4b6;
	--color-danger-2: #f28286;
	--color-danger-3: #fe4c52;
	--color-danger-4: #fe383f;
	--color-danger-5: #be3637;
	--shadow-4: 0px 3px 8px 0px rgba(17, 19, 27, 0.3);
	--space-0: 0px;
	--space-4: 4px;
	--space-8: 8px;
	--space-12: 12px;
	--space-16: 16px;
	--space-20: 20px;
	--space-24: 24px;
	--space-28: 28px;
	--space-32: 32px;
	--space-36: 36px;
	--space-40: 40px;
	--font-size-10: 10px;
	--font-size-12: 12px;
	--font-size-14: 14px;
	--font-size-16: 16px;
	--font-size-20: 20px;
	--font-size-24: 24px;
	--font-size-28: 28px;
	--font-size-40: 40px;
	--line-height-14: 14px;
	--line-height-16: 16px;
	--line-height-20: 20px;
	--line-height-24: 24px;
	--line-height-28: 28px;
	--line-height-32: 32px;
	--line-height-42: 42px;
	--letter-spacing-1: 1px;
}
